extends layout.jade

block body
  // Page Content
  .container
    .row
      .col-md-3
        p.lead Vote Categories
        .list-group
          a.list-group-item(href='/') Presidents
          a.list-group-item(href='vp') Vice-Pres
          a.list-group-item(href='ccmayor') Cebu City Mayor
          a.list-group-item(href='issues') Issues
      .col-md-9(ng-view='')
        
