doctype html
html(lang='en' ng-app="voteModule")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title PinoyVotes
    // STYLES
    link(rel="stylesheet", href="/styles/common.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    // STYLES END    
    
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    include navigation

    block body

    include footer

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/js/app-controller.js")
    script(src="/js/service/about-service.js")
    // SCRIPTS END
