.container-about
  h1 PinoyVotes
    | is a voting site.
  div
    p This voting system uses your FB social id as a way to track your votes.
    | You need to be authenticated with you FB credentials to comment and makes you vote.
    p Topics to vote here can either be politics or trending issues in the Philippines society.
    | It could also be trending people in the Philippine society. 
    p The site has nothing to do with the people opinions on this site being made.