.container-about
  h1
    | PinoyVotes
  br
  h2
    | We offer advertisement in a different rate scheme. 
  br
  p Advertisement will be put in the left side of the site with a common size of 250x250px.
    | Advertiser will provide their own
  br
  div
    ul
      li Trending price (PHP 50.00 / month)
        | If you are the person being subject to voting and you get 200,000 votes..
      li Standard price (PHP 200.00 / month)
        | This is any type of advertisement as long as its not related to pornography.
